<div class="contenedor">
	<div class="header">
		<div class="logo">
			<img src="../../../assets/img/logo.png" />
		</div>
		<nav class="nav">

			<div class="options perfil" >
				<div class="option" (click)="showlist('listPerfil')"><a href="#"> V </a></div>
				<div class="list " id="listPerfil">
					<div class="titulo">
						<p>Perfil</p>	
					</div>
					<a href="#">opcion1</a>
					<a href="#">opcion1</a>
					<a href="#">opcion1</a>
					<a href="#">opcion1</a>
					<a href="#">opcion1</a>
					<a href="#" (click)="cerrarSecion()">Cerrar Sesion</a>
				</div>	
			</div>
			<div class="options home" >
				<div class="option" (click)="showlist('listhome')"><a href="#"> H </a></div>
				<div class="list" id="listhome">
					<div class="titulo">
						<p>Home</p>	
					</div>
					<a href="#">opcion2</a>
					<a href="#">opcion2</a>
					<a href="#">opcion2</a>
					<a href="#">opcion2</a>
					<a href="#">opcion2</a>
					<a href="#">opcion2</a>
				</div>	
			</div>
			<div class="options notificaciones"  >
				<div class="option" (click)="showlist('listNotificaciones')"><a href="#"> N </a></div>
				<div class="list"  id="listNotificaciones">
					<div class="titulo">
						<p>Notificaciones</p>	
					</div>
					<a href="#">opcion3</a>
					<a href="#">opcion3</a>
					<a href="#">opcion3</a>
					<a href="#">opcion3</a>
					<a href="#">opcion3</a>
					<a href="#">opcion3</a>
				</div>	
			</div>
		</nav>	
	</div>	
	
</div>
