<div class="contenedor">
		
	<div *ngIf="posts" class="posts">
		
		<div *ngFor="let post of posts" class="post">
			<picture class="titular">
				<img src="{{url+'getImage/'+post.usuario[0].imagen}}" class="foto-perfil">
				<span class="">
					{{post.usuario[0].user}}
				</span>
			</picture>
			<div class="cuerpo">
				<span class="contenido">{{post.cuerpo}}</span>
				<picture class="img">
					<img src="{{url+'getImage/'+post.imagen}}" *ngIf="post.imagen" />
				</picture>
			</div>
			<div class="reacciones">
				<div class="like" (click)="setLike(post._id)" id="{{post._id+'_like'}}" >{{likeValidation(post.likes,post._id)?'':''}}Me gusta</div>
				<div class="coment" (click)="clickComentarios(post._id)">comentar</div>
				<div class="comprtir">compartir</div>
			</div>
			<div class="comentario">
					
				<div *ngIf="comenterioDoms">
					<div *ngIf="comenterioDoms.comentarios[0].post==post._id">
						<div *ngFor="let comenterioDom of comenterioDoms.comentarios" class="comentarioPost {{comenterioDom.usuario[0]._id==localStorageUser._id?'':'otherAutor'}}">
							<div class="Autor">
								{{comenterioDom.usuario[0]._id==localStorageUser._id?'Autor':''}}
								{{comenterioDom.usuario[0].user}}
								
								
							</div>
							<div class="parrafo">
								{{comenterioDom.comentario}}
								
							</div>
								
						</div>

						<form id="{{post._id}}" class="form-comentar" >
							<input type="text" name="comentario"    placeholder="Escribir..." >
							<input type="submit" value="Enviar" (click)="insertComent(post._id)" >
						</form>


					</div>	
				</div>
			<!--		<div class="comentarios">
						<div class="autor">David Sanchez</div>
						<p>i love you</p>
					</div>
-->
				

			</div>
		</div>

	</div>
</div>
