/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Ubuntu-Regular;
  src: url('../../../assets/fonts/ubuntu/Ubuntu-Regular.ttf'); 
}

@font-face {
  font-family: Ubuntu-Bold;
  src: url('../../../assets/fonts/ubuntu/Ubuntu-Bold.ttf'); 
}

/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

.container{
	width: 100%;
	background-color: #eeee;

	
}

.home{
	width: 40%;
	margin: auto;
	margin-top:20px;

}

.post{
	background-color: white;
	padding-bottom: 10px;
	padding-top: 10px;
	border: solid 1px #cccaca;
    border-radius: 5px;
}
.publicaciones{
	display: inline-block;
    width: 100%;
}

