	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)"	class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						Login
					</span>

					
					<div class="wrap-input100 validate-input m-b-16"  >
						<label for="user"></label>

						<input class="input100" type="text" name="usuario" #usuario="ngModel" [(ngModel)]="user" placeholder="Username">
						<span class="focus-input100"></span>
					</div>
					
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
						<label for="pass"></label>

						<input class="input100" type="password" name="password" #password="ngModel" [(ngModel)]="pass" placeholder="Password">
						<span class="focus-input100"></span>
					</div>
					
					<div class="flex-sb-m w-full p-t-3 p-b-24">
						<div class="contact100-form-checkbox">
							<input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
							<label class="label-checkbox100" for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot?
							</a>
						</div>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<input type="submit" name="btnuser" class="login100-form-btn">
					</div>

				</form>

				<div class="message" *ngIf="status">
					{{mensaje}}
				</div>

				<div class="message" *ngIf="localStorageUser">
					{{localStorageUser.user}}
				</div>
			</div>
		</div>
	</div>
